/*Component Styles*/

/*Class Styles*/

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0px;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;

}

.column {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    height: 300px;
}

.column p {

    margin-top: 0px;
    margin-bottom: 0px;

    /*Font*/
    font-weight: bolder;
    font-size: 30px;


    width: 100%;

    line-height: 300px;
    text-align: center;
}

/*Id Styles*/

#gif-one {
    background-color: yellow;
    grid-column: 1;

    animation-name: gif_one;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#gif-two {
    grid-column: 2;
}

#gif-three {
    background-color: blue;
    color: white;
    grid-column: 3;
}

/*Animations*/
@keyframes gif_one {
    0% {
        background-color: yellow;
        color: black;
    }
    50% {
        background-color: blue;
        color: white;
    }
    100% {background-color: yellow;
        color: black;
    }
}
